# macOS specific fiels
.DS_Store

# VSCode files
.vscode/

# Jupyter data
.ipynb_checkpoints

# Symlinks to a workspace directory
.workspace

# The configuration git bare repository
/.dotfiles/

# Project overrides for asdf
.tool-versions
