# macOS specific fiels
.DS_Store

# VSCode files
.vscode/

# Zed files
.zed/

# Jupyter data
.ipynb_checkpoints

# Symlinks to a workspace directory
.workspace

# The configuration git bare repository
/.dotfiles/

# Project overrides for mise
.tool-versions
mise.toml

# Configuration with global C++ include paths
.clangd

# Expert LSP directory, sometimes it is missing gitignore
.expert/

# Claude Code configuration
.claude/
