[user]
  name = Jonatan Kłosko
  email = jonatanklosko@gmail.com

[core]
  excludesfile = ~/.gitignore

[pull]
  ff = only

[init]
  defaultBranch = main

[credential]
  helper = store

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
